/* Global ================ */
:root {
  --yellow: #DCA500;
  --yellow-light: #FFBF00;
  --grey: #333;
  --white: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/bg.jpg');
  padding: 2%;
}

/* Texts ================ */
h1, h2, span, p {
  font-family: 'Nunito', sans-serif;
  color: var(--white);
}

/* Header ================ */
header h1 {
  color: var(--yellow-light);
  font-weight: 200;
  font-size: 4em;
}

/* Cards ================ */
main .cards-main {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 5%;
}

main .cards-main .card-container {
  width: 25%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s ease-in-out;
}

main .cards-main .card-container:hover {
  margin-top: -3%;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 3px #999;
}

main .cards-main .card-container .card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .cards-main .card-container .card-main span {
  color: var(--grey);
  font-size: 1.8em;
  font-weight: 600;
}

main .cards-main .card-container .card-main h2 {
  color: var(--yellow-light);
  font-size: 2em;
}


/* Phrases ================ */
main .phrases-container {
  width: 100%;
  margin-top: 8%;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

main .phrases-container button {
  width: 25%;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;

  font-size: 1.7em;
  font-weight: 600;

  background-color: var(--yellow);
  color: var(--white);

  transition: 0.3s ease-in-out;
}

main .phrases-container button:hover {
  border-radius: 2rem;
  color: var(--yellow);
  background-color: var(--white);
}

main .phrases-container p {
  text-align: center;
  width: 75%;
  font-size: 2em;
  font-weight: 700;
  margin-top: 4%;

  transition: 0.1s ease-in;
}

main .phrases-container p:hover {
  opacity: 0.7;
}